<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Kanit:wght@300;400&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>
<body class="bg">
	<div class="container"  >
		<br><br><br><br><br><br><br><br><br>
	<div class="row col-md-12">
		   
		<div class="col-md-1"></div>

		<div class="col-md-2 center"  style="border-right-style:solid; border-right-width:1px">	
		<div class="row top center">		
			<a href="/ele1"><img src="ele - (1).png" width=80%></a>
        </div>  
		<br><center>
		<div class="row middle fonttext infinite bounce hover">		
			<a>หลักสูตรที่ 1</a>
        </div>  
        <div class="center fonttext2" >		
			อาสาสมัครดูแลเด็กในสถานกักตัวหรือบ้านพักเด็กและครอบครัว
        </div>  
		</center>
		 </div>

		<div class="col-md-2 center"  style="border-right-style:solid; border-right-width:1px">	
		<div class="row top center">		
			<a href="/ele2"><img src="ele - (2).png" width=80%></a>
        </div>
		<br><center>
		<div class="row middle fonttext infinite bounce hover">
			<a>หลักสูตรที่ 2</a>
        </div>  
        <div class="center fonttext2" >		
			อาสาสมัครดูแลเด็ก<br>ในสถานพยาบาลทุกรูปแบบ
        </div>
		</center>    
		 </div>

		<div class="col-md-2 center"  style="border-right-style:solid; border-right-width:1px">	
		<div class="row top center">		
			<a href="/ele3"><img src="ele - (3).png" width=80%></a>
        </div>
		<br><center>
		<div class="row middle fonttext infinite bounce hover">
			<a>หลักสูตรที่ 3</a>
        </div>  
         <div class="center fonttext2" >			
			อาสาสมัครเยี่ยมเด็กป่วยและครอบครัวในพื้นที่ชุมชน
        </div>
		</center>    
		 </div>

		 <div class="col-md-2 center"  style="border-right-style:solid; border-right-width:1px">	
		<div class="row top center">		
			<a href="/ele4"><img src="ele - (4).png" width=80%></a>
        </div>
		<br><center>
		<div class="row middle fonttext infinite bounce hover">
			<a>หลักสูตรที่ 4</a>
        </div>  
         <div class="center fonttext2" >			
			อาสาสมัครดูแลเด็กในครอบครัวอาสาสมัคร
        </div>
		</center>    
		 </div>

		 <div class="col-md-2 center"  style="border-right-style:solid; border-right-width:1px">	
		<div class="row top center">		
			<a href="/ele5"><img src="ele - (5).png" width=80%></a>
        </div>
		<br><center>
		<div class="row middle fonttext infinite bounce hover">
			<a>หลักสูตรที่ 5</a>
        </div>  
         <div class="center fonttext2" >				
			อาสาสมัครสนับสนุนการจัดการรายกรณ
        </div>
		</center>    
		 </div>




	<div class="col-md-1"></div>
		</div> 	


    </div> 
	
	  
	

</body>
</html>
<style>
.fonttext
{
font-family: 'Kanit', sans-serif;
font-size:20px;
}

.fonttext2
{
font-family: 'Kanit', sans-serif;
font-size:15px;
}

.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hover:hover {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  

.bg
{
/* The image used */
  background-image: url('bg.png');

  height: 970px; 
}
	
}
.center
{
 margin-left: Auto;
 margin-right: Auto;

}

</style>
