<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Kanit:wght@300;400&display=swap" rel="stylesheet">
</head>
<body class="bg">
   
	<br><br><br><br><br>
	<div class="container">
    <div class="row">   
		<div class="col-md-6">
			
			<video width="100%" height="100%" controls autoplay style="background-color:black;">
				<source src="vdomain1.mp4" type="video/mp4">
			</video>

        </div>
		<div class="col-sm-6 colortext">
		<a>ภายใต้สถานการณ์โควิด-19 ที่กำลังแพร่ระบาดและยังคงลุกลามอยู่อย่างต่อเนื่อง		
		ทำให้ส่งผลกระทบต่อทุกมิติทั้งด้านเศรษฐกิจและสังคม และเกิดขึ้นกับทุกกลุ่มประชากร
		ไม่เว้นแม้กระทั่งเด็กและเยาวชน
		<br><br>
			สถานการณ์ปัจจุบันพบเด็กแรกเกิด จนถึง 18 ปีติดเชื้อโควิด-19 ประมาณวันละ 3,000 
		คน ติดเชื้อสะสมรวมแล้วมากกว่า 140,000 คน และยังมีแนวโน้มเพิ่มขึ้นอย่างต่อเนื่อง
		นอกจากนี้ยังมีเด็กที่ไม่ป่วยติดเชื้อแต่ได้รับผลกระทบโดยตรง เช่น พ่อแม่หรือผู้ปกครอง
		ติดเชื้อป่วยหนักหรือเสียชีวิต ทำให้เด็กได้รับความกระทบกระเทือนทางด้านจิตใจ เสี่ยง
		ต่อการสูญเสียผู้ปกครอง และอาจได้รับการดูแลไม่เหมาะ สม เข้าไม่ถึงการป้องกันโร
		คหรือดูแลตนเอง และหลุดออกนอกระบบการศึกษา เป็นต้น
		</a>
		<br><br>
		<H1>ปัญหาของ “เด็ก” ไม่เล็กอย่างที่คุณคิด</H1>
		มาร่วมเป็นส่วนหนึ่งเพื่อช่วยเหลือเด็กในภาวะวิกฤต จากสถานการณ์โควิด-19 
		เราต้องการอาสาสมัคร เพื่อมาร่วมทำงานช่วยเหลือเด็กให้ได้รับการดูแลที่เหมาะสม
		อย่างรวดเร็วที่สุด
		
		<br><br><br><br>
				<a href="/ele" ><center><img src="BT3.png"style="width:300px;"></a>
				
				</center>
		</div>
		
	</div>	
	

</body>
</html>
<style>
.colortext
{
color:#gray;
font-family: 'Kanit', sans-serif;

}

.bg
{
/* The image used */
  background-image: url('bg.png');

  height: 970px; 
}
	
</style>
