<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Kanit:wght@300;400&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>
<body>
   
	<br><br><br><br><br>
	

	<div class="container">
	<div class="row center">   
	<div class="col-md-12 center ">	
	<center>	
    <div class="row">   
		<div class="col-md-2 ">		
			<a href="/ele1" target="_blank"><img src="ele1.png" width=100%></a>
        </div>    
		<div class="col-md-2">		
			<a href="/ele1" target="_blank"><img src="ele2.png" width=100%></a>
        </div>    
		<div class="col-md-2">		
			<a href="/ele1" target="_blank"><img src="ele3.png" width=100%></a>
        </div>    
		<div class="col-md-2">		
			<a href="/ele1" target="_blank"><img src="ele4.png" width=100%></a>
        </div>    
		<div class="col-md-2">		
			<a href="/ele1" target="_blank"><img src="ele5.png" width=100%></a>
        </div>  
	</div><br>
	<div class="row ">   
		<div class="col-md-2 fonttext infinite bounce hover">		
			<a>หลักสูตรที่ 1</a>
        </div>     
		<div class="col-md-2 fonttext infinite bounce hover">		
			หลักสูตรที่ 2
        </div>     
		<div class="col-md-2 fonttext infinite bounce hover">		
			หลักสูตรที่ 3
        </div>     
		<div class="col-md-2 fonttext infinite bounce hover">		
			หลักสูตรที่ 4
        </div>     
		<div class="col-md-2 fonttext infinite bounce hover">		
			หลักสูตรที่ 5
        </div>   
	</div><br>
	<div class="row fonttext2">   
		<div class="col-md-2">		
			อาสาสมัครดูแลเด็กในสถานกักตัวหรือบ้านพักเด็กและครอบครัว
        </div>     
		<div class="col-md-2">		
			อาสาสมัครดูแลเด็กในสถานพยาบาลทุกรูปแบบ
        </div>     
		<div class="col-md-2">		
			อาสาสมัครเยี่ยมเด็กป่วยและครอบครัวในพื้นที่ชุมชน
        </div>     
		<div class="col-md-2">		
			อาสาสมัครดูแลเด็กในครอบครัวอาสาสมัคร
        </div>     
		<div class="col-md-2">		
			อาสาสมัครสนับสนุนการจัดการรายกรณ
        </div>   
	</div>
	</center>	
	</div>   
	

</body>
</html>
<style>
.fonttext
{
font-family: 'Kanit', sans-serif;
font-size:20px;
}

.fonttext2
{
font-family: 'Kanit', sans-serif;
font-size:15px;
}

.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hover:hover {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  
 .a{
 padding: 20px
 }
 
 .{
display: flex;
justify-content: center;
align-items: center;


 }
</style>
