<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Kanit:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
   
	<br><br><br><br><br>
	<div class="container">
    <div class="row">   
		<div class="col-md-6">
			
			<video width="100%" height="100%" controls autoplay style="background-color:black;">
				<source src="vdomain1.mp4" type="video/mp4">
			</video>

        </div>
		<div class="col-sm-6 colortext"><center>
		<h1>อาสาสมัครดูแลเด็กในสถานกักตัวหรือบ้านพักเด็กและครอบครัว</h1>
		<br>
			<a>เนื่องจากต้องมีการกักตัวเด็ก ระยะเวลา 14 วัน เพื่อประเมินอาการระหว่างการกักตัวว่า เด็กจะเป็นผู้ติดเชื้อหรือไม่ 
ซึ่งการจัดให้มีผู้ดูแลเด็ก ซึ่งไม่ใช่พ่อแม่ ผู้ปกครอง หรือเครือญาติที่มีความพร้อมในการดูแล รวมถึงการมีความเสี่ยง
จากผู้ดูแลเด็กที่อาจติดเชื้อจากเด็กระหว่างการกักตัว เป็นเรื่องที่มีข้อจำกัด จึงจำเป็นต้องมีการจัดหาอาสาสมัคร
ประเภทนี้และกำหนดคุณสมบัติไว้เป็นการเฉพาะ เพื่อให้เด็กได้รับการดูแล ติดตาม ประเมินอาการอย่างใกล้ชิด
เหมาะสม และเกิดความปลอดภัยระหว่างเด็กและผู้ดูแลร่วมด้วย</a>
	</div></div>		
	<div class="row" style="margin-top:-70px;">   
	<div class="col-md-6"></div>
		<div class="col-md-3">
			<a href="/ele" ><center><img src="back.png" width=70%></center></a>
        </div>
		<div class="col-md-3">
			<a href="/ele" ><center><img src="print.png"width=70%></center></a>
        </div>
	</div>
	</div>
	

</body>
</html>
<style>
.colortext
{
color:#gray;
font-family: 'Kanit', sans-serif;

}

.h1
{
font-size:20px;
}
.a
{
font-size:17px;
}
</style>
